<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>All Articles</title>

</head>
<body>
  <h1>All The Articles</h1>
  <ul>
  <% @articles.each do |article| %>
    <li><%= article.title %></li>
  <% end %>
  </ul>

</body>
</html>