<form class="" action="/articles" method="post">
<p>Article Title:<input id ="title" type="text" name="article[title]" value=""></p>
<p>Article Content:<input id="content" type="text" name="article[content]" value=""></p>
<input type="submit">
</form>
