<html>
<style media="screen">
  li { list-style-type: none; }
</style>
<ul>
  <h1>Create an Article</h1>
  <form action="/articles" method="POST">
    <li><h3><label for="title">Title</label>
      <input type="text" name="title"><h3></li>
        <li><h3><label for="content">Content</label>
          <input type="text" name="content"><h3></li>
            <input type="submit" name="submit">
            <ul>
              </html>
