<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>New Article</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
  <form action="/articles" method="POST">

    <h3><label for="Title">Title: </label>
      <input type="text" name="title"></h3>
      <p></p>
    <h3><label for="Content">Content: </label>
      <input type="text" name="content"></h3>
    <input type="submit" value="Submit">

  </form>
</body>
</html> 
